{% extends "layout.html" %}
{% block content %}
<ul class="list-group list-group text-left">
    <li class="list-group-item"><i class="far fa-calendar"></i>&nbsp;<span id="appDate"></span>&emsp;<i class="far fa-clipboard"></i>&nbsp;口試申請&emsp;<i class="far fa-clock"></i>&nbsp;<span id="app"></span></li>
    <li class="list-group-item"><i class="far fa-calendar"></i>&nbsp;<span id="thesisDate"></span>&emsp;<i class="far fa-clipboard"></i>&nbsp;論文初稿&emsp;<i class="far fa-clock"></i>&nbsp;<span id="thesis"></span></li>
    <li class="list-group-item"><i class="far fa-calendar"></i>&nbsp;<span id="oralDate"></span>&emsp;<i class="far fa-clipboard"></i>&nbsp;正式口試&emsp;<i class="far fa-clock"></i>&nbsp;<span id="oral"></span></li>
</ul>
{% endblock %}

{% block script %}
<script>
    var countDownDateId = ["app", "thesis", "oral"];
    var expireDateId = ["appDate", "thesisDate", "oralDate"];
    var expireDate = ["2019-04-30", "2019-06-15", "2019-07-15"]

    // Set the date we're counting down to
    var countDownDate = []; 

    for (var i = 0; i < countDownDateId.length; i++) {
        countDownDate.push(new Date(expireDate[i]).getTime());
        document.getElementById(expireDateId[i]).innerHTML = expireDate[i];
    }

    // Update the count down every 1 second
    var x = setInterval(function () {
        // Get todays date and time
        var now = new Date().getTime();

        for (var i = 0; i < countDownDate.length; i++) {
            // Find the distance between now and the count down date
            var distance = countDownDate[i] - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById(countDownDateId[i]).innerHTML = days + " 天 " + hours + " 小時 "
                + minutes + " 分鐘 " + seconds + " 秒";

            // If the count down is finished, write some text 
            if (distance < 0) {
                clearInterval(x);
                document.getElementById(countDownDateId[i]).innerHTML = "EXPIRED";
            }
        }
    }, 1000);
</script>
{% endblock %}