{% extends "layout.html" %}
{% block content %}
<h3 class="text-center">新聞資料</h3>

<form action="" method="get">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="輸入檢索詞" name="query" value="{{ query }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit"><span class="fa fa-search"></span></button>
                </div>
            </div>
        </div>
    </div>

    {% for row in results %}
    <div class="row">
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">{{ row[0] }}</h5>
                <p class="card-text">{{ row[1] }}</p>
                <p class="card-text"><small class="text-muted">{{ row[2] }}</small></p>
            </div>
        </div>
    </div>
    {% endfor %}
    
    {% if query %}
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                <a class="page-link" href="?query={{ query }}&page={{ page-1 }}">上一頁</a>
            </li>
            <li class="page-item disabled"><a class="page-link">第&nbsp;{{ page }}&nbsp;頁</a></li>
            <li class="page-item {% if results|length < 10 %}disabled{% endif %}">
                <a class="page-link" href="?query={{ query }}&page={{ page+1 }}">下一頁</a>
            </li>
        </ul>
    </nav>
    {% endif %}
</form>
{% endblock %}