{% extends "layout.html" %}
{% block content %}
<h3 class="text-center">PTT資料</h3>

<form action="" method="get">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="輸入檢索詞" name="query" value="{{ query }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit"><span class="fa fa-search"></span></button>
                </div>
            </div>
        </div>
    </div>

    {% for i, row in results %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ row[0] }}</h5>
                    <p class="card-text">{{ row[1] }}</p>
                    <p class="card-text"><small class="text-muted">{{ row[3] }}&nbsp;&nbsp;&nbsp;<i class="far fa-user"></i>&nbsp;{{ row[2] }}</small></p>
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <tbody>
                            {% for comment in comment_results[i] %}
                            <tr class="d-flex">
                                <td class="col-1">{{ comment[0] }}</td>
                                <td class="col-2">{{ comment[1] }}</td>
                                <td class="col-9">{{ comment[2] }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- For ngram info -->
        <!-- <div class="col-2">
            <div class="card">
            </div>
        </div> -->
    </div>
    {% endfor %}
</form>
{% endblock %}