{% extends "layout.html" %}
{% block content %}
<h3 class="text-center">系統測試</h3>

<form action="" method="get">
    <div class="card w-100">
        <div class="card-body">
            <div>
                <h5 class="card-title">文本資料匯入</h5>
                <div class="form-group">
                    <label for="query">文本資料</label>
                    <textarea class="form-control" id="query" rows="5" name="query">{% if query %}{{ query }}{% else %}["這是第一筆測試資料，https://i.imgur.com/FpIteVw.png。", "這是，第二筆。測試？資料！", "這是,第三筆.測試?資料!"]{% endif %}</textarea>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="sub_url" {% if options['sub_url'] %}checked{% endif %}>
                    <label class="form-check-label" for="inlineCheckbox1">取代網址</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="sub_punc" {% if options['sub_punc'] %}checked{% endif %}>
                    <label class="form-check-label" for="inlineCheckbox2">取代標點符號</label>
                </div>
                <div class="form-group form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="agg_sub_symbol" {% if options['agg_sub_symbol'] %}checked{% endif %}>
                    <label class="form-check-label" for="inlineCheckbox3">聚集取代符號</label>
                </div>
                <div class="form-group form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="split_sent" {% if options['split_sent'] %}checked{% endif %}>
                    <label class="form-check-label" for="inlineCheckbox4">以標點符號斷句</label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-secondary">測試</button>
                </div>
            </div>
        
            {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
            {% endif %}
        
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        {% for row in results %}
                        <tr>
                           <td>{{ row }}</td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
{% endblock %}